<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".activitys.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".activitys.Details"
            android:exported="false" />
        <activity
            android:name=".activitys.classroom_lists_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.log_in_as__activity"
            android:exported="true" />
        <activity
            android:name=".activitys.fill_profile_activity"
            android:exported="true" />
        <activity
            android:name=".activitys.create_acount__inactive_state__activity"
            android:exported="true" />
        <activity
            android:name=".activitys.acceille_activity"
            android:exported="true" />
        <activity
            android:name=".activitys.enter_id_activity"
            android:exported="true" />
        <activity
            android:name=".activitys.enter_id_classe_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.log_in_inactive_state__activity"
            android:exported="true" />
        <activity
            android:name=".activitys.add_cours_activity"
            android:exported="true" />
        <activity
            android:name=".activitys.forget_password"
            android:exported="true" />
        <activity
            android:name=".activitys.list_eleve__activity"
            android:exported="true" />
        <activity
            android:name=".activitys.add_student_activity"
            android:exported="true" />
        <activity
            android:name=".activitys.add_update_activity"
            android:exported="true" />
    </application>

</manifest>