<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".activitys.Prof_details"
            android:exported="false" />
        <activity
            android:name=".activitys.prof_profile"
            android:exported="false" />
        <activity
            android:name=".activitys.prof_actualites"
            android:exported="false" />
        <activity
            android:name=".activitys.Prof_addNote"
            android:exported="false" />
        <activity
            android:name=".activitys.prof_note_listeDeClasse"
            android:exported="false" />
        <activity
            android:name=".activitys.prof_class_list"
            android:exported="false" />
        <activity
            android:name=".activitys.prof_comunication_list"
            android:exported="false" />
        <activity
            android:name=".activitys.Prof_comunication_reponse"
            android:exported="false" />
        <activity
            android:name=".activitys.prof_comunication"
            android:exported="false" />
        <activity
            android:name=".activitys.AjouterMatiere"
            android:exported="false" />
        <activity
            android:name=".activitys.ModifyNote"
            android:exported="false" />
        <activity
            android:name=".activitys.EditGradeActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.AbsenceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.AddGradeActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.grade_sheet_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.AbsenceList"
            android:exported="false" />
        <activity
            android:name=".activitys.admin_update_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.StatistiqueActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.add_cours_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.ajouter_profToClasse"
            android:exported="false" />
        <activity
            android:name=".activitys.ProfClasse"
            android:exported="false" />
        <activity
            android:name=".activitys.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.Eleve_Details"
            android:exported="false" />
        <activity
            android:name=".activitys.classroom_lists_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.log_in_as__activity"
            android:exported="false" />
        <activity
            android:name=".activitys.fill_profile_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.create_acount__inactive_state__activity"
            android:exported="false" />
        <activity
            android:name=".activitys.acceille_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.enter_id_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.enter_id_classe_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".activitys.log_in_inactive_state__activity"
            android:exported="false" />
        <activity
            android:name=".activitys.forget_password"
            android:exported="false" />
        <activity
            android:name=".activitys.list_eleve__activity"
            android:exported="false" />
        <activity
            android:name=".activitys.add_student_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.add_update_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.list_des_prof_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.add_prof_activity"
            android:exported="false" />
        <activity
            android:name=".activitys.ReclamationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.Reclamations"
            android:exported="false" />
        <activity android:name=".activitys.prof_abscence_classes" />

        <activity
            android:name=".activitys.prof_classes_activity"
            android:exported="false" />
        <activity android:name=".activitys.prof_cour_list_activity" />

        <activity
            android:name=".activitys.add_quiz_activity"
            android:exported="false" />
        <activity android:name=".activitys.prof_eleves" />
        <activity android:name=".activitys.prof_quiz_list_activity" />

        <activity
            android:name=".activitys.onboarding_screen_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
